            /* Características Generales (títulos,párrafos,span) */

            .encabezados-primarios {
                text-align: $alignments;
                font-family: "KingsmanDemo.ttf";
                font-size: $encabezados-size;
                color: $encabezados-color;
                padding: $spacing;
            }
            
            .encabezados-secundarios {
                color: $encabezados-color;
                text-align: $alignments;
                font-family: "KingsmanDemo.ttf";
                font-size: $encabezados-size;
                padding: $spacing;
            }
            
            .subtitulos {
                text-align: $alignments;
                font-family: "KingsmanDemo.ttf";
                font-size: $encabezados-size;
                color: white;
            }
            
            .span-textos {
                font-family: "KingsmanDemo.ttf";
                color: white;
                font-weight: 900;
                font-size: 2,5 rem;
            }