                        /* ------- CONTACTO ------ */
body {
    background-color: #f1ae80;
}

.section-contacto {
    background-color: #f19288;
}

.section-contacto-mapa {
    padding:50px;
    background-color: #f1ae80;
}

.form {
    display: flex;
    justify-content: center;
    padding: $spacing*2;
    background-color: white;
        .form-div {
            display: grid;
            justify-content: center;
            }
    }

.titulos-contacto {
    text-align: $alignments;
}
