                        /* ------- CONTACTO ------ */

.section-contacto {
    display:grid;
    background-color: #eb6364;
}

.form {
    display: flex;
    justify-content: center;
    padding: $spacing*2;
    background-color: white;
        .form-div {
            display: grid;
            justify-content: center;
            }
    }

.titulos-contacto {
    text-align: $alignments;
}
