            /* ----- INDEX ------- */

            .section-index-2 {
                background-color: #f19288;
                padding: $spacing*2;
            
                div {
                    display: flex;
                    justify-content: end;
                    align-items: flex-end;
                    
                }
                    img {
                        height: 200px;
                        width: 200px;
                        
                        animation-name: jirafita;
                        animation-duration: 1.5s;
                        animation-timing-function: ease-in-out;
                        position: absolute; 
            
                    }
            }
            
            @keyframes jirafita {
                0% {
                    transform: translateX(200px);
                    opacity: 0;
                }
            
                100% {
                    transform: translateX(0px);
                    opacity: 1;
                }
            }
            
            
            .section-index-3 {
                background-color: #eebc5c;
                text-align: $alignments;
                font-size: 20px;
                padding: $spacing*2;
                font-family: ui-serif;
                    p {
                        text-align: $alignments;
                        font-size: 22px;
                        font-family: ui-serif;
                }
                
            }