            /* ----- INDEX ------- */

            .section-index-2 {
                background-color: #fdb87e;
                padding: $spacing*2+5;
                text-align: $alignments;
                font-size: 25px;
            }
            .section-index-3 p {
                text-align: $alignments;
                font-size: 18px;
                padding: $spacing*2;
                font-family: ui-serif;
            }