            /* ----- ¡TIPOGRAFÍAS! ------- */      

            @font-face {
                font-family: "KingsmanDemo.ttf";
                src: url("../CSS/tipografias/KingsmanDemo.ttf");
            }
            
            @import "variables";
            @import "caracteristicas-generales";
            @import "index";
            @import "productos";
            @import "sobre-mi";
            @import "contacto";
            @import "footer";
            
            
                        /* ------ Body id ------ */
            #body {
                background-color: #eebc5c;
                margin: 0;
            }
                        /* ------ HEADERS ------ */
            .header {
                background: linear-gradient(135deg, rgba(241,174,128,0.9976365546218487) 47%, rgba(226,104,126,1) 92%) !important;
            }
            
                        /* ------ NAV  ------*/
            
            .logo {
                width: 100px; 
                height: 100px; 
            }
            
            .nav-item {
                font-family: "KingsmanDemo.ttf";
                font-size: $spacing*2;
                border-radius: $spacing;
                margin: $spacing - 8;
                padding: $spacing - 6;
                text-align: $alignments;
                background-color: #f95f5f99;
                cursor: pointer !important;
            }
            
                /* ------------ Media Queries ------------ */
            
            @media screen and (min-width: 768px) {
            
                /* --- INDEX ---  */
            
            
            .img-principal {
            max-width: 100vw;
            }
            
            .parrafo-index {
            text-align: $alignments;
            font-size: $spacing*4;
            height: 250px;
            }
            
            
            .section-index-3 {
            background-color: #eebc5c;
            text-align: $alignments;
            font-size: $spacing*3;
            padding: $spacing*2;
            }
            
                /* ----SOBRE MÍ ---- */
            .parrafo-bio {
            text-align: $alignments;
            font-size: $spacing*3+5;
            color: black;
            }
            
            .imgs-bio {
            display: flex;
            flex-flow: row;
            justify-content: space-around;
            padding-bottom: $spacing*4;
            }
            
            .img-bio-1 {
            max-width: 100vh;
            max-height: 80vh;
            }
            
            .img-bio-2 {
            max-width: 100vh;
            max-height: 80vh;
            }
            
            
                /* ----- PRODUCTOS ------ */
            
            .section-productos {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            flex-wrap: nowrap;
            padding: $spacing;
            }
            
            .imgs-productos {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around; 
            gap: $spacing*2;
            }
            
            
            .hover-img-productos:hover {
            transform: scale(1.3);
            transition-property: all;
            transition-duration: 2s;
            transition-timing-function: ease;
            }
            
                /* ------ NOVEDADES ------ */
            
            .section-novedades {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            flex-wrap: wrap;
            align-items: center;
            background-color: #eebc5c;
            }
            
                /* -------- CONTACTO  ------- */
            
            .section-contacto {
            display:grid;
            background-color: #eb6364;
            }
            
            .section-contacto-mapa {
            padding: $spacing*2;
            }
            
            .section-contacto-radio {
            background-color: #f19288;
            }
            
            
            .tabla-contacto {
            display: grid;
            }
            
                /* ------  FOOTER ------ */
            
                .footer {
                    display: flex;
                    background-color: white;
                    padding: $spacing;
                    justify-content: center;
                    height: 155px;
                
                    .footer-div {
                        display:flex;
                        flex-direction: row;
                        align-items: center;
                        }
                            .footer-iconos {
                                padding: $spacing*2;
                            }
                                .footer-iconos a img {
                                    width: 100px;
                                    height: 100px;
                                }
                                    .p-footer {
                                        font-size: $spacing*2- 2;
                                    }
                    }
            }
            @media (min-width: 576px) and (max-width: 992px) {
                    /* --- INDEX ---  */
            
            
            .img-principal {
            max-width: 100vw;
            }
            
            .parrafo-index {
            text-align: $alignments;
            font-size: $spacing*3+5;
            height: 250px;
            }
            
            
            .section-index-3 {
            background-color: #eebc5c;
            text-align: $alignments;
            font-size: $spacing*2+5;
            padding: $spacing*2;
            }
            
                /* ----SOBRE MÍ ---- */
            .parrafo-bio {
            text-align: $alignments;
            font-size: $spacing*3+5;
            color: black;
            }
            
            .imgs-bio {
            display: flex;
            flex-flow: row;
            justify-content: space-around;
            padding-bottom: $spacing*4;
            }
            
            .img-bio-1 {
            max-width: 100vh;
            max-height: 80vh;
            }
            
            .img-bio-2 {
            max-width: 100vh;
            max-height: 80vh;
            }
            
            
                /* ----- PRODUCTOS ------ */
            
            .section-productos {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            flex-wrap: nowrap;
            padding: $spacing;
            }
            
            .imgs-productos {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around; 
            gap: $spacing*2;
            }
            
            
            .hover-img-productos:hover {
            transform: scale(1.3);
            transition-property: all;
            transition-duration: 2s;
            transition-timing-function: ease;
            }
            
                /* ------- NOVEDADES ------- */
            
            .section-novedades {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            flex-wrap: wrap;
            align-items: center;
            background-color: #eebc5c;
            }
            
                /* -------- CONTACTO  ------- */
            
            .section-contacto {
            display:grid;
            background-color: #eb6364;
            }
            
            .section-contacto-mapa {
            padding: $spacing*2;
            }
            
            .section-contacto-radio {
            background-color: #f19288;
            }
            
            
            .tabla-contacto {
            display: grid;
            }
            
            
            /* ----FOOTER - GENERAL ---- */
            
            .footer-div {
            display:flex;
            flex-direction: row;
            }
            
            .footer-iconos a img{
            width: $spacing*7+5;
            height: $spacing*7+5;
            }
            
            .p-footer {
            font-size: $spacing+5;
            }
            
                /* ----- FINAL MEDIA QUERIES ------ */
            }
            
            