                        /* ------ Biografía ------- */             

.parrafo-bio {
    text-align: $alignments;
    font-size: 18px;
    color: black;
    padding: $spacing+5;
}

.imgs-bio {
    display: flex;
    flex-flow: row;

}
.section-2-bio {
    background-color: #fdb87e;
}

.section-1-bio {
    background-color: #fdb87e;
}

.img-bio-1 {
    width: 60vw;
    height: 80vh;
    padding: 15px;
    object-fit: contain;
}

.img-bio-2 {
    padding: 15px;
    object-fit: contain;
    width: 60vw;
    height: 80vh;
}