// Agrego una sola variable para probar, pero luego iré agregando más, voy a hacer toda la página con SASS//

$encabezados-size: 4rem;
$encabezados-color: color black;
$encabezados-padding: padding 10px;
$encabezados-align: center;